
# docker-compose project name
COMPOSE_PROJECT_NAME=all-in-one-llm

MODEL_PATH=/home/tzm/tzm/models

# LLM_2GPU_REPLICAS=0
# LLM_4GPU_REPLICAS=1

LLM_2GPU_REPLICAS=1
LLM_4GPU_REPLICAS=0

# # to protect the API, you can set a secret key (optional)
# API_KEY=mysecretkey # comment this line to disable the API key (empty value does not work)

